.custom-footer {
    background-color: #84817a;
    position: fixed;
    bottom: 0;
}

.custom-navbar {
    background-color: #84817a;
}

.custom-nav-link {
    color: #f7f1e3;
}

.custom-btn {
    color: #f7f1e3;
    background-color: #706fd3;
    border-color: #34ace0;
}


.custom-btn:hover, .custom.btn:focus {
    background-color: #34ace0;
    color: #aaa69d;
}