.custom-footer {
    background-color: #84817a;
    position: fixed;
    bottom: 0;
}

.custom-navbar {
    background-color: #84817a;
}

.custom-nav-link {
    color: #f7f1e3;
}

.custom-login-btn {
    color: #f7f1e3;
    background-color: #706fd3;
    border-color: #40407a;
}