.custom-footer {
    background-color: #84817a;
}

.custom-navbar {
    background-color: #84817a;
}

.custom-nav-link {
    color: #f7f1e3;
}

.custom-login-btn {
    color: #706fd3;
    border-color: #2c2c54;
}