<header xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Film Fanatic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Navbar Collapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Films</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Genres</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Fantasy</a></li>
              <li><a class="dropdown-item" href="#">Sci Fi</a></li>
              <li><a class="dropdown-item" href="#">Comedy</a></li>
              <li><a class="dropdown-item" href="#">Romance</a></li>
              <li><a class="dropdown-item" href="#">Family</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex align-items-center">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mx-2" type="submit">
            <i class="fas fa-search"></i>
          </button>
        <div class="d-flex align-items-center" sec:authorize="!isAuthenticated()">
          <a th:href="@{/login}" class="link-primary">Login</a>
          <small class="mx-1" style="color:rgba(209, 204, 192,1.0)" >or</small>
          <a class="btn btn-primary btn-sm" th:href="@{/register}">Register</a>
        </div>
        <div class="d-flex align-items-center" sec:authorize="isAuthenticated()">
          <a th:href="@{/profile}" class="link-primary mx-1" title="Profile">
            <img th:src="@{'/images/users/' + ${#authentication.getPrincipal().getImage()}}" id="Avatar" alt="Avatar" height="40px" width="40px" style="border-radius: 50%;">
          </a>
          <a class="btn btn-primary btn-sm" th:href="@{/logout}">Logout</a>
        </div>
          </form>
      </div>
      </div>
    </div>
  </nav>

  <script type="text/javascript">
    (function() {
        console.log("checking params");
        let params = new URLSearchParams(window.location.search);
        if (params.has('message')) {
          console.log("params has message.");
          let message = params.get('message');
          if (message == 'logout') {
            console.log("message is logout");
            iziToast.info({
              title: 'Goodbye!',
              message: 'Successfully logged out!',
            });
          }
          else if (message == 'login') {
            console.log("message is login");
            iziToast.success({
              title: 'Hello!',
              message: 'Successfully logged in!',
            });
          }
        }
    })();
</script>
</header>
