<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Web App para los freekis de peliculas">
    <meta name="theme-color" content="#84817a">
    <title th:text="${title}"></title>

    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/sticky-footer.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/login.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <script src="https://kit.fontawesome.com/f37290b432.js" crossorigin="anonymous"></script>
</head>
