<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head::head(title='Film Fanaticos')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>
    <br><br>
    <div class="container-md">
        <div class="alert alert-danger" role="alert">
            <p class="text-centre">
                <strong>Are you sure you want to delete yourself permanently?</strong>
                <br>
                <small>All of your films, scores and reviews will also be deleted.</small>
            </p>
            <form></form>
            <form class="mx-2" th:method="GET" th:action="@{/user/delete}"}>
                <button class="btn btn-danger profile-button mx-2" type="submit">Delete Profile</button>
                <a href="#" class="alert-link mx-2" onclick="history.back()">Go Back</a>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
