<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head(title='Index')"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<main>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <form th:method="POST" enctype="multipart/form-data" th:action="@{/user-image}">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <label for="image-file">
                            <img class="rounded-circle mt-5 mb-2" style="border-color: #227093; border: 1px solid;" width="150px" th:src="@{'/images/users/' + ${user.image}}">
                        </label>
                        <div class="row">
                            <input id="image-file" type="file" name="image" />
                        </div>
                        <div class="row mt-2">
                            <input type="submit" value="Change Picture" />
                        </div>
                        <br/>
                    </div>
                </form>
            </div>
            <form th:method="PUT" th:object="${user}" th:action="@{/user/edit}" class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Edit Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Name</label>
                            <input type="text" th:placeholder="${user.name}" th:field="*{name}" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Surname</label>
                            <input type="text" th:placeholder="${user.surname}" th:field="*{surname}" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Username</label>
                            <input type="text" th:placeholder="${user.username}" th:field="*{username}" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input type="email"  th:placeholder="${user.email}" th:field="*{email}" class="form-control">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button mx-2" type="submit">Submit</button>

                        <a class="btn btn-danger profile-button mx-2" th:href="@{/profile/delete}">Delete Profile</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
