<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header :: header"></header>

<main class="body-color">
    <div class="container fill">
        <div class="row center align-items-center">
            <div class="container mx-auto rounded" style="background-color: white;">This is a test</div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
